spring:
  application:
    name: payment

  # DataSource Config
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/payment
    username: root
    password:
  session:
    timeout: 86400

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

  global-config:
    db-config:
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0

server:
  port: 8080
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  swagger-ui:
    #???swagger??????,??http:localhost:8080/swagger-ui.html???????swagger??
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs    #swagger??????
    enabled: true   #????????
  group-configs:
    - group: 'default'   #????
      paths-to-match: '/**'   #?????????,???/**
      packages-to-scan: com.rzou.payment    #?????????,?????????????

# knife4j???????????????(??????)
knife4j:
  enable: true    #??knife4j,????@EnableKnife4j??
  setting:
    language: zh_cn   #??
    swagger-model-name: ?????   #???SwaggerModel??,??
  # production: true
cloud:
  nacos:
    discovery:
      enabled: false

alipay:
  app-id: 9021000143677392
  private-key: MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDgr2lESBXL5rx71Qm5n8H3TBwx3PLlfot4Zv74irZH7t+6auSV2UHsgWeSm8grPkp41IxKRErKlJtmdoegbwyz+DJMkrbEO8MYE3KorWg8hTBxTAJOvYom2OLi6B5MQy+CDl882FhirnK0ZU1qa4oZXRkzsdAmPrjunsPaMOb5DpvssQk16R7MYvb1tjWMNy+s09SrVGoK/Uo+hxPzNPFrwHVdk12BQGaast1Qly+NpiUNXR4OEfludUS1yhJfGsJG78tMTNjoPl+upWffquGyvIfVObniMXsPFfZNU2PsCDlMOnn7kU2FwF1YVVOoLV5ZpXUpIJ0skA+YyBNFcHOBAgMBAAECggEAOcH9zna1W7AZvb96+4Os6fRfvxWsPwBzu+TGIIAP8ZffXV2DG145CyIMzOxM3YjqvfrtgV3i2Aaxl/paTQye+FiSHYsNfo5aTYMaU3AYPo6CcG14nmMs82WHlYrT1wjiWo11P//hYKS1idgMuZGhc3myM86+0kYHZhfcAufVSCpU4YI1nfihidfLswPY7hbH48F/Z6y7uUnRByldBZknFH8COHeATylFl6/ra2TtHOd+HBFaP1psmEhmnevcqJ2tpMowx7qZOtNfZXS8IvhIaFKA5mB5GSsYxRzsH/fLW+SGWbNB8wkmWiJi8P2NB5UUbyMZBINewOLHPT6YTNaHUQKBgQD25oqwXD8FFqVEzU5VfRsctRd5fW/DFr4SiAmIcmSUC9SCoKcOfXuaU9ukXjieLx0gRIKYTin0FbDS9NUEQoqZvs5fRPArQGENkDFbk96lMFsrfwMCLrrdQoXWiiRL8TXDvI2gl2XFNDP1jXEw5ig4L5Z/HPEMBAN2/DJhqbWMHQKBgQDo90WeH8nOTV9mKuecMk6ZiBpmMYXXQrGLXWhve6zXpMll0nWejbSWh9MOpxXRokxfdpurMi6ez7fsugk1+j8SHHUI3RUII5PsOFBvjuFC5b7e9bdTZoKLvlg3RYxQSL8wAfOyQhmcawFJ6Yxhh2DyAn8KmRLIVGVEoBUODTp/tQKBgDca30tbW0lkc4B2ngwgfwOaO2IHKAGPut5h9Fa6yU3tkgGRn5dxVDvuiXAXA2Xyt/pyr/8UOvLaQHvk3wIzY8HKvz6uIThWBxNC4nFBAIk30LFViLNdAKHPbhWjAVTdwhUsqSN1huZLr2kXp3K1e7aGkH1QVVBMOQW+ZfQ8L2PVAoGAGUGdgYwOs9f9jLUAERX/IXP48LVTvkeTufkxdkyhK2vJDcnoSH0yY9Nr1T3WBrkisILKU6AIH92DIh31G636onsFUSWuvwgkZEqipcWGtFr1+3QGIPuPEZlcNPnMQXPxjkHX6q5x2lxbcmjoeDZWE0akAUEhISjNJch5H+HdQrUCgYBuOhFOnbn4HBcd4ateJHCLgSO24AYO2PIxgi0wCcOX9E+zQwIOgFznWtnf0XsUU+RXbfie04HAd9xmkRTEZxwryYNp09IzaJCtmaAJHBqPR3yOJLy12AXRUQum2eUFMYvdn45mEDqi5GEf54RSjwQyDsUPHNx5luvOKTfn+EQ9Mg==
  public-key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgJdcnyS6JNp5ImQBpnUH12TMTdxsR6wYyRLElss5I7uAFevqMVnsHqYfA9dpRhzK9o4lhAEdgAEK3IFJnkvtgkA9F6F/ZVhfXl7xvQFQjSumxMdQjhRDTKc/JumPMB3uTOxWCh8lZq/nK+hXwKetBjbKZWKBI7cIyko29eK92cghYPS0ZMKeUsQn6Jg4ZO//siqRv8R/1eF5rwCIXAtNakyHMQCNMe0MUSpqr7lNE7hcFzTqnFJJtUAVEMpOzS55qRbMV/iSJCrkC8bLasp7UueN5wwVTEs5NgSaUkCBf/b/K1i2XdWEOWIQaIXIfp+yu3X18GEVReS/mOM7DPNHwwIDAQAB
  gateway-url: https://openapi-sandbox.dl.alipaydev.com/gateway.do
  notify-url: https://7eb1-2605-ad80-80-701b-5896-337c-b985-9dfe.ngrok-free.app/api/webhook/alipay/notify # 异步通知地址
  return-url: https://yourdomain.com/alipay/return # 同步回调地址
  sign-type: RSA2
  charset: UTF-8
